<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head'); %>
</head>
<body class="bg-light">
    <div class="container-lg p-0" </div>
    <header>
        <%- include('./partials/header'); %>  
    </header>
    
    <h1>Create Your VERY OWN Todolist!</h1>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</div>
</body>
</html>