<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h3>You like?  </h3>
    
    <h2 id="surprise"></h2>
    <img id="picture" src="" alt="" />
    <h3>Breed</h3>
    <p id="breed"></p>
    <h3>Learn More</h3>
    <p id="more"></p>
    
    <h2> Click left to fav and right to skip?</h2>
    <button type="button" id="yes">left</button>
    <button type="button" id="no">right</button>


    <h2><%= user.userName %> likes:</h2>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                
                <img id='savepic' src="<%=el.picture %>" width="50" alt=""> 
                <span ><%= el.breed %></span>
                <span class='del'><b> Delete</b> </span>
            </li>
    <% }) %>    
    </ul>
    <a href="/logout">Logout</a>
    <script src="js/main.js"></script>


    
</body>
</html>